<md-content>
<h1>Create a new request</h1>
<form ng-submit="submit()" name="requestForm" novalidate>
<md-input-container>
    <label>Title</label>
    <input md-maxlength="30" required="" name="title" ng-model="request.title">
</md-input-container>

<md-input-container>
    <label>Description</label>
    <input md-minlength="30" required="" name="description" ng-model="request.description">
</md-input-container>

<md-input-container>
    <label>Location</label>
    <input required="" name="location" ng-model="request.location">
</md-input-container>
    <md-input-container flex="">
        <label>Date</label>
        <input type="date" ng-model="request.date">
    </md-input-container>
    <md-button type="submit" class="md-primary md-raised">Create request!</md-button>
</form>
</md-content>