<md-button class="md-raised md-primary" ui-sref="overview.create-request">
  Place a new request!
</md-button>

<div ng-show="requests.length == 0">
  There are no requests, sorry!
</div>

<md-list>
  <div ng-repeat="request in requests">
    <md-list-item class="md-3-line" >
      <img ng-src="{{request.image}}" class="md-avatar" alt="{{request.name}}" />
      <div class="md-list-item-text">
        <h3>{{ request.title }}</h3>
        <h4>Placed by {{ request.name }}</h4>
        <p>{{ request.description }}</p>
      </div>
    </md-list-item>
    <md-divider ></md-divider>
  </div>
</md-list>
