<div layout="row">
    <div flex="20">
        <div ng-if="!user.image"><img ng-src="http://placehold.it/150x150"></div>
        <div ng-if="user.image"><img ng-src="user.image"></div>
        <p><b><a ui-sref="overview.profile({'id': user._id})" style="cursor: pointer;">{{user.name || 'Deleted member'}}</a></b></p>
        <small>{{user.points || 0}} points</small>
    </div>
    <div flex="80">
        <h2>{{request.name || 'No title'}} <div ng-if="request.done">- done!</div></h2>

        <p>{{request.description || 'No description!'}}</p>

        <md-divider></md-divider>
        <br />

        <b>Placed on {{request.createdAt | date}} at {{request.createdAt | time}}</b>
        <br />
        <br />
        <a href="https://twitter.com/share" class="tweetbutton" data-text="I'm looking for someone to help me out! Check out my request on Edin-Bros!" data-via="EdinBros" data-size="large" data-hashtags="codethecity">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

</div>

<br />

<div>
    <md-button class="md-raised md-primary" ng-click="join()">Join this request!</md-button>

    <md-button class="md-raised md-primary" ng-if="showMark" ng-click="mark()">Mark as completed!</md-button>
</div>

<div ng-if="showChat">
    <h4>Chat</h4>

    <div ng-repeat="message in messages">
        Pietje says: {{message.message}} - {{message.createdAt | ago}}
    </div>

    <br />

    <form ng-submit="sendMessage(message)">
        <md-input-container flex>
            <label>Send a message</label>
            <input ng-model="message">
        </md-input-container>
    </form>
</div>

<br />
<md-divider></md-divider>
<br />

